<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <img src="assets/logo.svg">
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div>

<ion-content padding #contentRef (ionScroll)="scrollingFun($event)">
  <ion-slides pager="true" style="width:100%; height: 250px">
    <ion-slide *ngFor="let image of slideItems | async" (click)="moveToDetail(slideItems)" >
        <img src="{{image.$value}}">
    </ion-slide>
  </ion-slides>
 <br>
  <ion-label>
    test
  </ion-label>
  <ion-slides  class="image-slider" slidesPerView="3" style=" height: 150px">
    <ion-slide *ngFor="let image of testItems | async" (click)="moveToDetail(testItems)">
      <img src="{{image.$value}}">
    </ion-slide>
  </ion-slides>
  <ion-label>
    이달의 인기상품
  </ion-label>
  <ion-slides  class="image-slider" slidesPerView="3" style=" height: 150px">
    <ion-slide *ngFor="let image of MonthtopItems | async" (click)="moveToDetail(MonthtopItems)">
      <img src="{{image.$value}}">
    </ion-slide>
  </ion-slides>
<ion-label>
    카테고리1 인기상품
  </ion-label>
  <ion-slides  class="image-slider" slidesPerView="3" style=" height: 150px">
    <ion-slide *ngFor="let image of cate1topItems | async" (click)="moveToDetail(cate1topItems)">
      <img src="{{image.$value}}">
    </ion-slide>
  </ion-slides>
<ion-label>
    카테고리2 인기상품
  </ion-label>
  <ion-slides  class="image-slider" slidesPerView="3" style=" height: 150px">
    <ion-slide *ngFor="let image of cate2topItems | async" (click)="moveToDetail(cate2topItems)">
      <img src="{{image.$value}}">
    </ion-slide>
  </ion-slides>
<!--  <ion-card *ngFor="let image of mainconArray">
    <img src="{{image.image}}">
  </ion-card>
<ion-infinite-scroll (ionInfinite)="loadContents($event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>-->



  <!--<ion-card *ngFor="let image of mainconArray">
    <img src="{{image.image}}">
  </ion-card>-->
</ion-content>
